<div class="row body-content" style="background-color:white;">
    @{
        ViewBag.Title = "Agência de Viagem";
    }
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Av Paulista<br />
        Cep. 98765-370<br />
        <abbr title="Telefone">Telefone:</abbr>
        (11)98765-4321
    </address>

    <address>
        <strong>Suporte:</strong>   <a href="mailto:Support@example.com">agencia_viagem@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing_viagem@example.com</a>
    </address>
</div>
