<img src="~/Imagens/imgAviao.jpg" style="width:100%" />

<div class="container body-content" style="color:white;">

    <div class="col-md-4">
        <h2>Cadastro</h2>
        <p>
            Faça o seu cadastro aqui na Agência de<br />
            Viagem, aqui você pode realizar seu sonho,<br />
            todos seus dados estão seguros em nosso<br />
            banco de dados, click no botão abaixo e faça<br />
            seu cadastro.
        </p>
        <p class="text-left"><a class="btn btn-default" href="/Pessoas/Adicionar">Cadastrar &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Promoções</h2>
        <p>
            Conheça nossos melhores preços<br />
            para a sua viagem, aqui você pode ter<br />
            a certeza que o seu investimento<br />
            terá o melhor retorno, click no botão<br />
            abaixo e faça sua própria pesquisa.
        </p>
        <p><a class="btn btn-default" href="/Home/Promocoes">Promoções &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Contato</h2>
        <p>
            Entre em contato com a gente<br />
            nossos atendentes estarão prontos<br />
            para dar a melhor assistência em suas <br />
            dúvidas, confira nossos contatos clicando<br />
            no botão abaixo.
        </p>
        <p><a class="btn btn-default" href="/Home/Contato">Contato &raquo;</a></p>
    </div>
</div>