<div class="row body-content" style="background-color:white;">

    <h1>Promoções</h1>

    <p class="text-left"><a class="btn btn-default" href="/Home/Pessoa">Cadastrar Cupom &raquo;</a></p>

    <div style="margin-top: 20px; margin-bottom: 20px; margin-left: 60px;" class="col-md-5">
        <img src="~/Imagens/imgRioDeJaneiro.jpg" style="width:300px;" />
        <h3>Rio de Janeiro</h3>
        <label>
            Copie seu código e garanta a sua promoção.
        </label>
        <p>
            Para garantir sua promoção copie o código e <br />
            coloque no seu cadastro para você ver a <br />
            promoção.
        </p>
        <h3 style="margin-left:100px;"><b>HJSF#KA</b></h3>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px; margin-left: 60px;" class="col-md-5 ">
        <img src="~/Imagens/imgBrasilia.jpg" style="width:300px;" />
        <h3>Brasilia</h3>
        <label>
            Copie seu código e garanta a sua promoção.
        </label>
        <p>
            Para garantir sua promoção copie o código e <br />
            coloque no seu cadastro para você ver a <br />
            promoção.
        </p>
        <h3 style="margin-left:100px;"><b>#SFDGHS</b></h3>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px; margin-left: 60px;" class="col-md-5 ">
        <img src="~/Imagens/imgFortaleza.jpg" style="width:300px;" />
        <h3>Fortaleza</h3>
        <label>
            Copie seu código e garanta a sua promoção.
        </label>
        <p>
            Para garantir sua promoção copie o código e <br />
            coloque no seu cadastro para você ver a <br />
            promoção.
        </p>
        <h3 style="margin-left:100px;"><b>EWR#FGS</b></h3>
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px; margin-left: 60px;" class="col-md-5 ">
        <img src="~/Imagens/imgMaceio.jpg" style="width:300px;" />
        <h3>Macéio</h3>
        <label>
            Copie seu código e garanta a sua promoção.
        </label>
        <p>
            Para garantir sua promoção copie o código e <br />
            coloque no seu cadastro para você ver a <br />
            promoção.
        </p>
        <h3 style="margin-left:100px;"><b>TUHSA#S</b></h3>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px; margin-left: 60px;" class="col-md-5 ">
        <img src="~/Imagens/imgPernambuco.jpg" style="width:300px;" />
        <h3>Pernambuco</h3>
        <label>
            Copie seu código e garanta a sua promoção.
        </label>
        <p>
            Para garantir sua promoção copie o código e <br />
            coloque no seu cadastro para você ver a <br />
            promoção.
        </p>
        <h3 style="margin-left:90px;"><b>DFAS#SA</b></h3>
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px; margin-left: 60px;" class="col-md-5 ">
        <img src="~/Imagens/imgSaoPaulo.jpg" style="width:300px;" />
        <h3>São Paulo</h3>
        <label>
            Copie seu código e garanta a sua promoção.
        </label>
        <p>
            Para garantir sua promoção copie o código e <br />
            coloque no seu cadastro para você ver a <br />
            promoção.
        </p>
        <h3 style="margin-left:100px;"><b>SFA#UOT</b></h3>
    </div>
</div>
